<div class= "container mt-4">
  <div class= "row">
    <div class="col-sm-6">
  <h1 class="destacado ">¡Hola EasyBroker!</h1>
  <div class= "card card-transparent p-3">
<p>Mi nombre es Sofía Becerra, me dirijo a ustedes con entusiasmo y determinación
para expresar mi interés en unirme a su equipo.El compromiso de la
empresa con el aprendizaje continuo y la innovación en el sector inmobiliario,
combinado con la integración de la programación, ha capturado mi atención de manera significativa.</p>
<p>En mi reciente incursión en el mundo de la programación, he encontrado una verdadera pasión.
Considero que el aprendizaje constante es fundamental para el desarrollo personal y profesional,
y estoy ansiosa por contribuir con mis habilidades en un entorno que valora tanto la evolución como EasyBroker.</p>
<p>Además, me ha impresionado profundamente el enfoque humano y los valores que promueven en su empresa.
El respeto, la honestidad y la comunicación efectiva son fundamentales para fomentar un ambiente laboral
armonioso y productivo. Creo firmemente que un equipo cohesionado y motivado es clave para alcanzar el éxito en todas
las áreas de la empresa.</p>
<p> La oportunidad de combinar mis intereses en arquitectura y programación en EasyBroker representa un desafío
   emocionante y gratificante para mí. Estoy convencida de que mi dedicación, habilidades técnicas y pasión por
   la innovación serán una valiosa contribución a su equipo.</p>
<p> Agradezco su tiempo  y espero tener la oportunidad de discutir cómo puedo
  aportar al continuo crecimiento y éxito de EasyBroker en una entrevista personal.</p>
     </div>
   </div>
   <div class="col-sm-6">
        <div class= "container d-flex justify-content-center mb-5">
   <img src="<%= asset_path('foto.jpeg') %>" alt="Descripción de la imagen" class="imagen-redonda">
   </div>
  <div class= "container d-flex justify-content-center ">
    <div class="mx-3" >
    <%= link_to " " , "https://troopl.com/sofiabecerrra", class: "btn  bi bi-person custom-icon custom-icon custom-btn ", target: "_blank"  %>
    </div >
    <div class="mx-3">
    <%= link_to " " , "https://www.linkedin.com/in/sofia-becerra-de-jesus-a0a7b81a7/", class: "btn  bi bi-linkedin custom-icon custom-icon custom-btn ", target: "_blank"  %>
    </div>
    </div>
    <div class= "container d-flex justify-content-center mt-4">
<%= link_to " Cuentanos sobre algun libro" ,  libro_path , class: "btn  bi bi-book custom-icon custom-icon custom-btn" %>
   </div>
       <div class= "container d-flex justify-content-center mt-4">

<%= link_to " ¿Te consideras el mejor desarrollador web?" , desarolladora_path , class: "btn  bi bi-laptop custom-icon custom-icon custom-btn" %>
 </div>
  <div class= "container   d-flex justify-content-center  mt-4 mb-2 ">
    <%= link_to "  Link mi codigo gits " , "https://gist.github.com/SofBecerra/d839867e7f01c9d88b9baf28e301541b", class: "btn  bi bi-github custom-icon custom-icon custom-btn ", target: "_blank"  %>
</div>
<div class= "container   d-flex justify-content-center  mt-4 mb-2 ">
<%= link_to "  Link codigo gist titulo Api " , "https://gist.github.com/SofBecerra/b882023a61737c095cea1d1c62b93c7d", class: "btn  bi bi-github custom-icon custom-icon custom-btn ", target: "_blank"  %>
     </div>
    </div>
    </div>
    </div>
   </div>
</div>
